################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/RendelesApp/RendelesApp/bin/Debug/net8.0-windows
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/ref/RendelesApp.dll
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/refint/RendelesApp.dll
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/apphost.exe
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.AssemblyInfo.cs
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.AssemblyInfoInputs.cache
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.assets.cache
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.csproj.CoreCompileInputs.cache
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.csproj.FileListAbsolute.txt
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.csproj.GenerateResource.cache
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.dll
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.GeneratedMSBuildEditorConfig.editorconfig
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.genruntimeconfig.cache
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.pdb
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.sourcelink.json
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.UgyfelKezeloForm.resources
/projects/RendelesApp/RendelesApp/obj/Debug/net8.0-windows/RendelesApp.UgyfelSzerkesztesForm.resources
/projects/RendelesApp/.vs/ProjectEvaluation/rendelesapp.metadata.v9.bin
/projects/RendelesApp/.vs/ProjectEvaluation/rendelesapp.projects.v9.bin
/projects/RendelesApp/.vs/ProjectEvaluation/rendelesapp.strings.v9.bin
/projects/RendelesApp/.vs/RendelesApp/DesignTimeBuild/.dtbcache.v2
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/1b926fd9-5c4d-4eb7-8a77-c9484741ff43.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/76f3c78a-31ea-411f-aa01-245bdf2dc53e.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/8e5c247b-88c7-42d3-ab8e-98815ebcf2d0.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/951b01bd-0b48-47c3-bedd-d338a56eb884.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/9601e136-28a3-463e-b127-b816a9e1ad79.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/9e5d9be1-b16a-4482-b272-714e34695881.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/a393ecc4-a85e-4f9b-a9d5-a3f9981cc203.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/c1a73c66-d76b-4f25-ac31-6302405695a3.vsidx
/projects/RendelesApp/.vs/RendelesApp/FileContentIndex/c2dabe8b-fef4-4e77-9414-dd7484b7a8a4.vsidx
/projects/RendelesApp/.vs/RendelesApp/v17/.futdcache.v2
/projects/RendelesApp/.vs/RendelesApp/v17/.suo
/projects/RendelesApp/.vs/RendelesApp/v17/DocumentLayout.backup.json
/projects/RendelesApp/.vs/RendelesApp/v17/DocumentLayout.json
